#center {
	position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

html, body {
    height: 100%;
    overflow: hidden;
}

.block {
    height: 100vh;
    padding: 0;
    text-align: center;
/*    background-image: url("../static/bg5.jpg");
    background-repeat: no-repeat;*/
    background-color: #ff5722 ;
}

.block .information {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.h1, h1 {
    font-size: 5.25em;
}

#resume {
    font-size: 16px;
    padding-right: 8px;
    padding-left: 8px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  /*background-color: #f5f5f5;*/
  align-items: flex-end;
}
#copy {
  color: #212121;
}