.DS_Store
.Python
DateTime-4.2.dist-info/
DateTime/
bin/
certifi-2017.7.27.1.dist-info/
certifi/
chardet-3.0.4.dist-info/
chardet/
easy_install.py
easy_install.pyc
idna-2.6.dist-info/
idna/
include/
lib/
pip-selfcheck.json
pkg_resources/
pytz-2017.2.dist-info/
pytz/
requests-2.18.4.dist-info/
requests/
setuptools-36.3.0.dist-info/
setuptools/
urllib3-1.22.dist-info/
urllib3/
zope.interface-4.4.2-py2.7-nspkg.pth
zope.interface-4.4.2.dist-info/
zope/
